/* Hanya tampil di mobile */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    z-index: 1001;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 200px;
    background-color: rgb(195, 194, 194);
    color: black;
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
  }
  
  .sidebar-menu li a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .sidebar-menu li a:hover {
    background-color: #444;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
  
  /* Responsive untuk mobile */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  }
  